<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Jeg kan ikke finde den side, du søger efter.</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>En såkaldt 404-fejl på serveren viser, at det indhold, som du leder efter ikke er her; men du kan eventuelt prøve igen.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Søg","width":75,"widthUnit":"%","buttonText":"Søg","buttonPosition":"button-inside","align":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->